<div class="text-center m-4">
  <h2 class="text-4xl m-2 font-semibold">About</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, officiis.
    Cumque itaque quas fugiat illo ullam temporibus esse quasi praesentium a
    quibusdam sint architecto ipsam, perspiciatis corporis corrupti dolore nemo!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, officiis.
    Cumque itaque quas fugiat illo ullam temporibus esse quasi praesentium a
    quibusdam sint architecto ipsam, perspiciatis corporis corrupti dolore nemo!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, officiis.
    Cumque itaque quas fugiat illo ullam temporibus esse quasi praesentium a
    quibusdam sint architecto ipsam, perspiciatis corporis corrupti dolore nemo!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, officiis.
    Cumque itaque quas fugiat illo ullam temporibus esse quasi praesentium a
    quibusdam sint architecto ipsam, perspiciatis corporis corrupti dolore nemo!
  </p>
</div>
